/*RESET*/
html,body{
  margin: 0;
  padding: 0;
}

ul,li{
  margin: 0;
  padding: 0;
}

html {
    position: relative;
    min-height: 100%;
    color: #FFF;
}
body {
    margin: 0 0 80px; /* bottom = footer height */
    background-color: #e74c3c;
    font-family: Roboto;
}


li a{
  list-style-type: none;
  text-decoration: none;
  color: #FFF;
}

/*MISE EN FORME DU MESSAGE DE RÉSULTAT*/
#result {
	background:#fff;
	width:100%;
	top:0;
	padding:15px;
	z-index:10000;
	position:fixed;
	box-sizing:border-box;
	font-family:Roboto;
	font-size:14px;
	color:#e74c3c;
	text-align:center;
}

#result.hidden {
	top:-50px;
	-webkit-transition:0.3s;
}

/*MISE EN FORME GENERAL DES BOUTON*/
.button{
  background-color: transparent;
  margin:0;
  border :2px #FFF solid;
  text-align: center;
  border-radius: 4px;
  transition: color 0.35s, border-radius 0.35s, background-color 0.35s, border-color 0.35s;
  color:#FFF;
}

.button:hover{
  background-color: #FFF;
  text-align: center;
  color:#E74C3C;
  transition: color 0.35s, border-radius 0.35s, background-color 0.35s, border-color 0.35s;
  cursor: pointer;
}

/*GENERAL*/
h3{
  color: #FFF;
  font-family: Lobster Two;
  font-size: 2.5rem;
}


button:focus, input.button:focus, input.button:active{
  outline:none;
}

button{
  padding: 5px;
  margin: 0;
}



input[type="text"],input[type="password"]{
  display: inline-block;
  margin: 0 auto;
  height: 2rem;
  background-color: #FFF;
  border: 2px solid #FFF;
  color : #e74c3c;
  font-size: 0.85rem;
  outline: none;
  width: 130px;
  padding-left: 0.5rem;}

/*GENERAL*/

/*CHARGEMENT DES POLICES*/
@font-face {
  font-family: Roboto;
  src:url('../medias/fonts/Roboto/Roboto-Light.ttf');
}
@font-face {
  font-family: Roboto Medium;
  src:url('../medias/fonts/Roboto/Roboto-Medium.ttf');
}
@font-face {
  font-family: Roboto Thin;
  src:url('../medias/fonts/Roboto/Roboto-Thin.ttf');
}
@font-face {
  font-family: Lobster Two;
  src:url('../medias/fonts/Lobster_Two/LobsterTwo-Regular.ttf');
}



/*ANIMATION*/


  /*Animation apparition pour version desktop*/

  @keyframes apparitionDesktop{
  from{ margin-right: 0; opacity:0;}
  to{margin-right: 1rem; opacity:1;}
  }
  @keyframes disparitionDesktop{
  from{ margin-right: 1rem; opacity:1;}
  to{margin-right: 0; opacity:0;}
  }

  /*Animation apparition pour version mobile*/

  @keyframes apparitionMobile{
  from{ bottom: 1rem; opacity:0;}
  to{bottom: 0; opacity:1;}
  }
  @keyframes disparitionMobile{
  from{ bottom: 0; opacity:1;}
  to{bottom: 1rem; opacity:0;}
  }

.apparitionDesktop{
  animation-name: apparitionDesktop;
  animation-duration: 0.30s;
}
.disparitionDesktop{
  animation-name: disparitionDesktop;
  animation-duration: 0.30s;
}

.apparitionMobile{
  animation-name: apparitionMobile;
  animation-duration: 0.30s;
}
.disparitionMobile{
  animation-name: disparitionMobile;
  animation-duration: 0.30s;
}


/*HEADER*/

  header{
    height: 80px;
    position: relative;
  }

/*CONTENU*/

/*Stylisation du bloc de connexion*/

.blockCo{
  max-width: 600px;
  text-align: center;
  height: auto;
  margin: 0 auto;

  margin-top: 125px;
}

.formCo{
  background-color: #FFF;
  max-width: 300px;
  margin: 0 auto;
  border-radius: 7.5px;
  margin-top: 20px;
}



h1{
  font-family: Lobster Two;
  font-size: 4rem;
  margin-bottom: 2px;
}

h2{
  width:250px;
  margin: 5px auto;
  font-size: 1.15rem;
  font-weight: 100;
  margin-top: 10px;
  font-family: Roboto Thin;
}

.formCo .button{
  width: 100%;
  border-radius: 0 0 10px 10px;
  border :3px solid #FFF;
  border-top: 0 solid transparent;
  font-size: 0.9rem;
  padding: 15px;
  background-color:#e74c3c;
  color:#FFF;


}

.formCo .button:hover{
  border-top: 0 solid transparent;
  background-color: rgba(231, 76, 60, 0.72);
}

.formElement{
  width: 85%;
  margin: 0 auto;
  padding: 4px;
  text-align: left;
}

.formElement1{
  padding-top: 0.5rem;
}

.formElement2{
  margin-bottom: 0.25rem;
}

.formElement+.formElement{
  border-top: 1px solid rgba(231, 76, 60, 0.65);
}

.formCo label{
  text-align: left;
  color: #e74c3c;
  font-size: 0.85rem;
  display: inline-block;
  width: 90px;
  padding-bottom: 0.15rem;
  box-sizing: border-box;
}


/*PAGE APROPOS*/

section#messageContainer{
  min-height: 600px;
  line-height: 60px;
}

section#teamContainer{
  background-color: rgba(255, 255, 255, 0.2);
  min-height: 600px;

}

.buttonApropos{

  padding: 5px 10px 5px 10px;
  border-radius:5px 5px 5px 5px;
  font-size: 0.85rem;
  position: absolute;
  /*border-left: none;*/
  top:25px;
  left:25px;


}

/*.buttonApropos::before{
  content:"\A";
  border-style: solid;

  border-width: 15px 15px 15px 0px;
  border-color: transparent #FFF transparent transparent;
  position: absolute;
  left: -15px;
  top: -2px;
}*/

.titreapropos{

  text-align: center;
  margin: 0;
  width: 200px;

  position: absolute;
  top: 10px;
  right: 10px;

}

.titreTeam{
  margin-top: 0;
  padding-top: 20px;
  padding-bottom: 15px;
}

.team{
text-align: center;
padding-bottom: 40px;
}

.membreTeam{
  display: inline-block;
  margin: 0 auto;
  width: 250px;
  overflow: hidden;
  background-color: rgba(250, 250, 250, 0.25);
  border-radius:10px;
  vertical-align: top;

}

.membreTeam+.membreTeam{
  margin-left: 100px;
}

.blocSocial{
  margin: 0 auto;
  text-align: right;
  padding-right: 0.5rem;
  padding-bottom: 0.25rem;
  vertical-align: middle;
}

.membreTeam strong{
  display: block;
  text-align: left;
  font-family: Roboto;
  font-size: 1.10rem;
  margin-bottom: 0.5rem;
  letter-spacing: 0.02rem;

}



.linkdin{
  background-image: url("../medias/linkdin.png");
  height: 30px;
  width: 30px;
  background-size: cover;

}
.linkdin:hover{
  background-image: url("../medias/linkdinHover.png");
  height: 30px;
  width: 30px;
  background-size: cover;

}

.membreTeam .twitter{
  width: 30px;
  height: 30px;
}

.membreTeam .iconSocial{
  display: inline-block;

}




.membreTeam img{
  width: 100%;
}

figure{
  padding: 0;
  margin: 0;

}

figcaption{
  position: relative;
  margin: 0;
  color:#FFF;
  font-family: Roboto Thin;
  vertical-align: top;
  text-align: left;
  overflow: hidden;
  padding: 1rem;
  padding-top: 0.5rem;
}



.encartApropos{
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  padding: 3rem;
  font-size: 2rem;
  border-radius: 10px;
  font-family: Roboto Thin;
  padding-top: 13rem;
}

/*FOOTER*/

footer{
  height: 80px;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;

}

/*SOCIAL*/

.socialContainer{
text-align: center;
display: inline-block;
margin-top: 20px;
height: 40px;

}

.social{
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-right: 10px;
}

.facebook{
  background-image: url("../medias/facebook.png");
  background-size: cover;
}
.twitter{
  background-image: url("../medias/twitter.png");
  background-size: cover;
  margin-right: 0;
}
.apropos{
  background-image: url("../medias/apropos.png");
  background-size: cover;
  display: inline-block;
  margin-right: 10px;
  width: 40px;
  height: 40px;

}
.facebook:hover{
  background-image: url("../medias/facebookHover.png");
  background-size: cover;
  -webkit-transition: background-image 0.15s;
  -o-transition: background-image 0.15s;
  transition: background-image 0.15s;
}
.twitter:hover{
  background-image: url("../medias/twitterHover.png");
  background-size: cover;
  margin-right: 0;
  -webkit-transition: background-image 0.15s;
  -o-transition: background-image 0.15s;
  transition: background-image 0.15s;
}
.apropos:hover{
  background-image: url("../medias/aproposHover.png");
  background-size: cover;
  display: inline-block;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  -webkit-transition: background-image 0.15s;
  -o-transition: background-image 0.15s;
  transition: background-image 0.15s;

}

/*Responsive*/

@media screen and (max-width : 630px) {

.membreTeam, .membreTeam+.membreTeam{
  margin:40px auto 0 auto;
  display:block;
}

.encartApropos{
  margin-right: 20px;
  margin-left: 20px;
  padding-top: 4.5rem;
  font-size: 1.75rem;
}



}
